a {
	text-decoration: none;
	color: white; /*no se sabe que cambia*/
}

footer {
	color: white; /*color de letras copy gelnda fabian*/
	background: brown; 
}

footer {               /*centrado footer pie de pagina links*/
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #cccccc;
		}
}


a {
	text-decoration: none;
}

#wrapper {
	max-width: 1500px;
	margin: 0 auto;
	padding: 5%;
	background: gray; /*color fondo de pag galeria*/
}

#logo {
	text-align: center;
	margin: 0;
}

#galeria {
	margin: 0;
	padding: 0;
	list-style: none;
}

#galeria li { float: left;
			width: 50%;
			margin: 2%; /*margen de separacion entre fotos de galeria*/
			background-color: white;
			color: black;
			}

#galeria li p {
				margin: 0;
				padding: 5%;
				font-size: 0.75em;
				color: #000000;
				}

header {
	background: brown; /*fondo del encabezado ppal*/
	border-color: black;
}

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}



		h1{
			color: #000000; /*color de titulo ppal*/
			}
		h2{
			color: white; /*color sub titulo pag*/
		  	}

h1 { font-family: 'Indie Flower', cursive;
	 margin: 15px o;
	 font-size: 6em;
	 font-weight: normal;
}
h2 { font-family: 'Oswald', sans-serif;
	 margin: 15px o;
	 font-size: 4em;
	 font-weight: normal;
	}

nav{
	background: orange; /*fondo barra de navegacion*/

}

nav a, nav a:visited {
	color: #004220;
}
nav a.selected {
	color: #ffffff; /*color letra de vinculos de navegacion*/
}
nav a:hover {
	color: #000000; /*color cuando opasa el punteros en links*/
}

nav ul {
		list-style: none;
		margin: 0 10px;
		padding: 0;
	   }
nav li { display: inline-block; }
nav a { font-weight: 700;
		font-size: 30px;
		font
		padding: 25px 20px; }



img {
	max-width: 100%;

}

.social-icon { width: 30px;
			   height: 30px;
			   margin: 0 5px; 
			 }

/**********ABOUT*************/


.profile-photo {
	display: block;
	max-width: 400px;
	margin: 0 auto 30px;
	border-radius: 100%;
}

/*******************
PAGINA CONTACT
*******************/
.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}


.contact-info a { display:block;
			min-height: 20px;
			background-repeat: no-repeat;
			background-size: 20px 20px;
			padding: 0 0 0 30px;
			margin: 0 0 10px;}
 


.contact-info li.phone a{
	background-image: url("../img/telefono2.png");
}
.contact-info li.mail a{
	background-image: url("../img/mail1.jpg");
}
.contact-info li.twitter a{
	background-image: url("../img/twitter2.png");
}

