@media screen and (min-width: 480px)
{ #primary { width: 50%;
			 float: left;}
  #secondary { width:40%;
             float: right;}

#galeria li { width: 28.333%;
			}
#galeria li:nth-child(3n+1) {
	clear: right;

.profile-photo { float:right;
                 margin: 0 5% 120px 0; }

}

@media screen and (min-width: 660px)
{

nav { 	background: none;
		float: right; 
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 35%; }

#logo {	float: left;
		margin-left: 5%;
		text-align: center;
		width: 45%;
		}

h1 {	font-size: 3em;}
h2 {	font-size: 1em;
		margin-bottom: 45px;
	}

header { border-bottom: 5px solid black;
		margin-bottom: 60px;
	}
}